{"openapi":"3.1.0","info":{"title":"Soil API","description":"This is a RESTful service that provides soil information based on data sourced from <a href=\"https://www.isric.org/explore/soilgrids\">SoilGrids</a>. <br/>The data are freely available for use under the <a href=\"https://creativecommons.org/licenses/by/4.0/\">CC BY 4.0 license</a>.","version":"0.2.5"},"servers":[{"url":"https://api.openepi.io/soil"}],"paths":{"/type":{"get":{"tags":["soil"],"summary":"Get soil type","description":"Returns the most probable soil type for the given location","operationId":"get_soil_type_type_get","parameters":[{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180.0,"minimum":-180.0,"title":"lon","description":"Longitude"},"description":"Longitude","example":9.58},{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90.0,"minimum":-90.0,"title":"lat","description":"Latitude"},"description":"Latitude","example":60.1},{"name":"top_k","in":"query","required":false,"schema":{"type":"integer","maximum":30,"minimum":0,"title":"top_k","description":"Number of most probable soil types that will be returned, sorted by probability in descending order","default":0},"description":"Number of most probable soil types that will be returned, sorted by probability in descending order","example":0}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoilTypeJSON"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","source":"# Get the most probable soil type at the queried location\ncurl -i -X GET https://api.openepi.io/soil/type?lat=60.1&lon=9.58\n\n# Get the most probable soil type at the queried location\n# and the probability of the top 3 most probable soil types\ncurl -i -X GET https://api.openepi.io/soil/type?lat=60.1&lon=9.58&top_k=3\n"},{"lang":"JavaScript","source":"// Get the most probable soil type at the queried location\nconst response = await fetch(\n  \"https://api.openepi.io/soil/type?\" + new URLSearchParams({\n    lon: \"9.58\",\n    lat: \"60.1\",\n  })\n);\nconst json = await response.json();\n\n// Get the most probable soil type\nconst mostProbableSoilType =\n  json.properties.most_probable_soil_type;\n\nconsole.log(`Most probable soil type: ${mostProbableSoilType}`);\n\n// Get the most probable soil type at the queried location\n// and the probability of the top 3 most probable soil types\nconst response_top_k = await fetch(\n  \"https://api.openepi.io/soil/type?\" + new URLSearchParams({\n    lon: \"9.58\",\n    lat: \"60.1\",\n    top_k: \"3\"\n  })\n);\nconst json_top_k = await response.json();\n\n// Get the soil type and probability for the second most probable soil type\nconst soilType2 =\n  json.properties.probabilities[1].soil_type;\nconst probability2 =\n  json.properties.probabilities[1].probability;\n\nconsole.log(`Soil type: ${soilType2}, Probability: ${probability2}`);\n"},{"lang":"Python","source":"from httpx import Client\n\nwith Client() as client:\n    # Get the most probable soil type at the queried location\n    response = client.get(\n        url=\"https://api.openepi.io/soil/type\",\n        params={\"lat\": 60.1, \"lon\": 9.58},\n    )\n\n    json = response.json()\n\n    # Get the most probable soil type\n    most_probable_soil_type = json[\"properties\"][\"most_probable_soil_type\"]\n\n    print(f\"Most probable soil type: {most_probable_soil_type}\")\n\n    # Get the most probable soil type at the queried location\n    # and the probability of the top 3 most probable soil types\n    response = client.get(\n        url=\"https://api.openepi.io/soil/type\",\n        params={\"lat\": 60.1, \"lon\": 9.58, \"top_k\": 3},\n    )\n\n    json = response.json()\n\n    # Get the soil type and probability for the second most probable soil type\n    soil_type = json[\"properties\"][\"probabilities\"][1][\"soil_type\"]\n    probability = json[\"properties\"][\"probabilities\"][1][\"probability\"]\n\n    print(f\"Soil type: {soil_type}, Probability: {probability}\")\n"}]}},"/property":{"get":{"tags":["soil"],"summary":"Get soil property","description":"Returns the values of the soil properties for the given location and depths. Note: The ocs property is only available for the 0-30cm depth and vice versa. If the depth and property are incompatible, the response will not include the property.","operationId":"get_soil_property_property_get","parameters":[{"name":"lon","in":"query","required":true,"schema":{"type":"number","maximum":180.0,"minimum":-180.0,"title":"lon","description":"Longitude"},"description":"Longitude","example":9.58},{"name":"lat","in":"query","required":true,"schema":{"type":"number","maximum":90.0,"minimum":-90.0,"title":"lat","description":"Latitude"},"description":"Latitude","example":60.1},{"name":"depths","in":"query","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/SoilDepthLabels"},"minItems":1,"title":"depths to include","description":"List of depths to include in the query."},"description":"List of depths to include in the query."},{"name":"properties","in":"query","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/SoilPropertiesCodes"},"minItems":1,"title":"properties to include","description":"List of soil properties to include in the query."},"description":"List of soil properties to include in the query."},{"name":"values","in":"query","required":true,"schema":{"type":"array","items":{"$ref":"#/components/schemas/SoilPropertyValueTypes"},"minItems":1,"title":"values to include","description":"List of values to include in the query."},"description":"List of values to include in the query."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoilPropertyJSON"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","source":"# Get the mean value of the soil property at the queried location and depth\ncurl -i -X GET https://api.openepi.io/soil/property?lon=9.58&lat=60.1&depths=0-5cm&depths=100-200cm&properties=bdod&values=mean\n\n# Get the mean and the 0.05 quantile of the soil properties at the queried location and depths\ncurl -i -X GET https://api.openepi.io/soil/property?lon=9.58&lat=60.1&depths=0-5cm&depths=100-200cm&properties=bdod&properties=phh2o&values=mean&values=Q0.05\n"},{"lang":"JavaScript","source":"// Get the mean value of the soil property at the queried location and depth\nconst response = await fetch(\n  \"https://api.openepi.io/soil/property?\" + new URLSearchParams({\n    lon: \"9.58\",\n    lat: \"60.1\",\n    depths: \"0-5cm\",\n    properties: \"bdod\",\n    values: \"mean\"\n  })\n);\nconst json = await response.json();\n\n// Get the soil information for the bdod property\nconst bdod = json.properties.layers[0];\n\n// Get the soil property unit and name\nconst bdodUnit = bdod.unit_measure.mapped_units\nconst bdodName = bdod.name\n\n// Get the soil property mean value at depth 0-5cm\nconst bdodDepth = bdod.depths[0].label\nconst bdodValue = bdod.depths[0].values.mean\n\nconsole.log(`Soil property: ${bdodName}, Depth: ${bdodDepth}, Value: ${bdodValue} ${bdodUnit}`);\n\n// Get the mean and the 0.05 quantile of the soil properties at the queried location and depths\nconst response_multi = await fetch(\n  \"https://api.openepi.io/soil/property?\" + new URLSearchParams({\n    lon: \"9.58\",\n    lat: \"60.1\",\n    depths: ['0-5cm', '100-200cm'],\n    properties: ['bdod', 'phh2o'],\n    values: ['mean', 'Q0.05']\n  })\n);\nconst json_multi = await response_multi.json();\n\n// Get the soil information for the phh2o property\nconst phh2o = json_multi.properties.layers[1];\n\n// Get the soil property value, unit and name\nconst phh2oUnit = phh2o.unit_measure.mapped_units;\nconst phh2oName = phh2o.name;\n\n// Get the soil property 0.05 quantile value at depth 100-200cm\nconst phh2oDepth = phh2o.depths[1].label;\nconst phh2oValue = phh2o.depths[1].values['Q0.05'];\n\nconsole.log(`Soil property: ${phh2oName}, Depth: ${phh2oDepth}, Value: ${phh2oValue} ${phh2oUnit}`);\n"},{"lang":"Python","source":"from httpx import Client\n\nwith Client() as client:\n    # Get the mean value of the soil property at the queried location and depth\n    response = client.get(\n        url=\"https://api.openepi.io/soil/property\",\n        params={\n            \"lat\": 60.1,\n            \"lon\": 9.58,\n            \"depths\": \"0-5cm\",\n            \"properties\": \"bdod\",\n            \"values\": \"mean\",\n        },\n    )\n\n    json = response.json()\n\n    # Get the soil information for the bdod property\n    bdod = json[\"properties\"][\"layers\"][0]\n\n    # Get the soil property unit and name\n    bdod_name = bdod[\"name\"]\n    bdod_unit = bdod[\"unit_measure\"][\"mapped_units\"]\n\n    # Get the soil property mean value at depth 0-5cm\n    bdod_depth = bdod[\"depths\"][0][\"label\"]\n    bdod_value = bdod[\"depths\"][0][\"values\"][\"mean\"]\n\n    print(\n        f\"Soil property: {bdod_name}, Depth: {bdod_depth}, Value: {bdod_value} {bdod_unit}\"\n    )\n\n    # Get the mean and the 0.05 quantile of the soil properties at the queried location and depths\n    response_multi = client.get(\n        url=\"https://api.openepi.io/soil/property\",\n        params={\n            \"lat\": 60.1,\n            \"lon\": 9.58,\n            \"depths\": [\"0-5cm\", \"100-200cm\"],\n            \"properties\": [\"bdod\", \"phh2o\"],\n            \"values\": [\"mean\", \"Q0.05\"],\n        },\n    )\n\n    json_multi = response_multi.json()\n\n    # Get the soil information for the phh2o property\n    phh2o = json_multi[\"properties\"][\"layers\"][1]\n\n    # Get the soil property unit and name\n    phh2o_name = phh2o[\"name\"]\n    phh2o_unit = phh2o[\"unit_measure\"][\"mapped_units\"]\n\n    # Get the soil property 0.05 quantile value at depth 100-200cm\n    phh2o_depth = phh2o[\"depths\"][1][\"label\"]\n    phh2o_value = phh2o[\"depths\"][1][\"values\"][\"Q0.05\"]\n\n    print(\n        f\"Soil property: {phh2o_name}, Depth: {phh2o_depth}, Value: {phh2o_value} {phh2o_unit}\"\n    )\n"}]}},"/type/summary":{"get":{"tags":["soil"],"summary":"Get soil type summary","description":"Returns the a summary of the soil types present in the given bounding box, represented by a mapping of each soil type to the number of occurrences in the bounding box","operationId":"get_soil_type_summary_type_summary_get","parameters":[{"name":"min_lon","in":"query","required":true,"schema":{"type":"number","maximum":180.0,"minimum":-180.0,"title":"min_lon","description":"Minimum longitude"},"description":"Minimum longitude","example":9.58},{"name":"max_lon","in":"query","required":true,"schema":{"type":"number","maximum":180.0,"minimum":-180.0,"title":"max_lon","description":"Maximum longitude"},"description":"Maximum longitude","example":9.6},{"name":"min_lat","in":"query","required":true,"schema":{"type":"number","maximum":90.0,"minimum":-90.0,"title":"min_lat","description":"Minimum latitude"},"description":"Minimum latitude","example":60.1},{"name":"max_lat","in":"query","required":true,"schema":{"type":"number","maximum":90.0,"minimum":-90.0,"title":"max_lat","description":"Maximum latitude"},"description":"Maximum latitude","example":60.12}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoilTypeSummaryJSON"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","source":"# Get a summary of the soil types in the queried bounding box, represented\n# by a mapping of each soil type to the number of occurrences in the bounding box\ncurl -i -X GET https://api.openepi.io/soil/type/summary?min_lon=9.5&max_lon=9.6&min_lat=60.1&max_lat=60.12"},{"lang":"JavaScript","source":"// Get a summary of the soil types in the queried bounding box, represented\n// by a mapping of each soil type to the number of occurrences in the bounding box\nconst response = await fetch(\n  \"https://api.openepi.io/soil/type/summary?\" + new URLSearchParams({\n    min_lon: \"9.5\",\n    max_lon: \"9.6\",\n    min_lat: \"60.1\",\n    max_lat: \"60.12\",\n  })\n);\nconst json = await response.json();\n\n// Get the summary of the soil types in the bounding box\nconst summaryList =\n  json.properties.summaries;\n\n// Get the soil type and the number of occurrences\nconst soilType1 = summaryList[0].soil_type\nconst count1 = summaryList[0].count\nconst soilType2 = summaryList[1].soil_type\nconst count2 = summaryList[1].count\nconsole.log(`Soil type: ${soilType1}, Count: ${count1}`);\nconsole.log(`Soil type: ${soilType2}, Count: ${count2}`);\n"},{"lang":"Python","source":"from httpx import Client\n\nwith Client() as client:\n    # Get a summary of the soil types in the queried bounding box, represented\n    # by a mapping of each soil type to the number of occurrences in the bounding box\n    response = client.get(\n        url=\"https://api.openepi.io/soil/type/summary\",\n        params={\"min_lon\": 9.5, \"max_lon\": 9.6, \"min_lat\": 60.1, \"max_lat\": 60.12},\n    )\n\n    json = response.json()\n\n    # Get the summary of the soil types in the bounding box\n    summary_list = json[\"properties\"][\"summaries\"]\n\n    # Get the soil type and the number of occurrences\n    soil_type_1 = summary_list[0][\"soil_type\"]\n    count_1 = summary_list[0][\"count\"]\n    soil_type_2 = summary_list[1][\"soil_type\"]\n    count_2 = summary_list[1][\"count\"]\n\n    print(f\"Soil type: {soil_type_1}, Count: {count_1}\")\n    print(f\"Soil type: {soil_type_2}, Count: {count_2}\")\n"}]}},"/ready":{"get":{"tags":["health"],"summary":"Check if this service is ready to receive requests","description":"Returns a message describing the status of this service","operationId":"ready_ready_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"x-codeSamples":[{"lang":"cURL","source":"curl -i -X GET https://api.openepi.io/soil/ready\n"},{"lang":"JavaScript","source":"const response = await fetch(\n  \"https://api.openepi.io/soil/ready\"\n);\nconst json = await response.json();\nconst status = json.status;\n\nconsole.log(`Status: ${status}`);\n"},{"lang":"Python","source":"from httpx import Client\n\nwith Client() as client:\n    response = client.get(url=\"https://api.openepi.io/soil/ready\")\n    print(response.json()[\"status\"])\n"}]}},"/health":{"get":{"tags":["health"],"summary":"Check if this service is alive","description":"Returns a simple message to indicate that this service is alive","operationId":"liveness_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object","title":"Response Liveness Health Get"}}}}},"x-codeSamples":[{"lang":"cURL","source":"curl -i -X GET https://api.openepi.io/soil/health\n"},{"lang":"JavaScript","source":"const response = await fetch(\n  \"https://api.openepi.io/soil/health\"\n);\nconst json = await response.json();\nconst message = json.message;\n\nconsole.log(`Message: ${message}`);\n"},{"lang":"Python","source":"from httpx import Client\n\nwith Client() as client:\n    response = client.get(url=\"https://api.openepi.io/soil/health\")\n    print(response.json()[\"message\"])\n"}]}}},"components":{"schemas":{"BoundingBoxGeometry":{"properties":{"coordinates":{"items":{"items":{"items":{"type":"number"},"type":"array"},"type":"array"},"type":"array","title":"Coordinates","description":"[[[min_lon, min_lat], [max_lon, min_lat], [max_lon, max_lat], [min_lon, max_lat], [min_lon, min_lat]]]","example":[[[60.5,11.59],[60.6,11.59],[60.6,11.6],[60.5,11.6],[60.5,11.59]]]},"type":{"$ref":"#/components/schemas/GeometryType"}},"type":"object","required":["coordinates","type"],"title":"BoundingBoxGeometry"},"DepthRange":{"properties":{"top_depth":{"allOf":[{"$ref":"#/components/schemas/SoilDepths"}],"description":"The top depth","example":0},"bottom_depth":{"allOf":[{"$ref":"#/components/schemas/SoilDepths"}],"description":"The bottom depth","example":5},"unit_depth":{"allOf":[{"$ref":"#/components/schemas/SoilDepthUnits"}],"description":"The unit of the depth range","example":"cm"}},"type":"object","required":["top_depth","bottom_depth","unit_depth"],"title":"DepthRange"},"FeatureType":{"const":"Feature","title":"FeatureType"},"GeometryType":{"type":"string","enum":["Point","Polygon"],"title":"GeometryType"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"PointGeometry":{"properties":{"coordinates":{"items":{"type":"number"},"type":"array","maxItems":2,"minItems":2,"title":"Coordinates","description":"[longitude, latitude] decimal coordinates","example":[60.5,11.59]},"type":{"$ref":"#/components/schemas/GeometryType"}},"type":"object","required":["coordinates","type"],"title":"PointGeometry"},"SoilConversionFactors":{"type":"integer","enum":[10,100],"title":"SoilConversionFactors"},"SoilDepth":{"properties":{"range":{"allOf":[{"$ref":"#/components/schemas/DepthRange"}],"description":"The soil depth range"},"label":{"allOf":[{"$ref":"#/components/schemas/SoilDepthLabels"}],"description":"The soil depth label"},"values":{"allOf":[{"$ref":"#/components/schemas/SoilPropertyValues"}],"description":"The queried soil property values"}},"type":"object","required":["range","label","values"],"title":"SoilDepth"},"SoilDepthLabels":{"type":"string","enum":["0-5cm","0-30cm","5-15cm","15-30cm","30-60cm","60-100cm","100-200cm"],"title":"SoilDepthLabels"},"SoilDepthUnits":{"const":"cm","title":"SoilDepthUnits"},"SoilDepths":{"type":"integer","enum":[0,5,15,30,60,100,200],"title":"SoilDepths"},"SoilLayer":{"properties":{"code":{"allOf":[{"$ref":"#/components/schemas/SoilPropertiesCodes"}],"description":"The soil property code","example":"bdod"},"name":{"type":"string","title":"Name","description":"The name of the soil property","example":"Bulk density"},"unit_measure":{"allOf":[{"$ref":"#/components/schemas/SoilPropertyUnit"}],"description":"The unit of the soil property"},"depths":{"items":{"$ref":"#/components/schemas/SoilDepth"},"type":"array","title":"Depths","description":"The queried soil depths with values"}},"type":"object","required":["code","name","unit_measure","depths"],"title":"SoilLayer"},"SoilLayerList":{"properties":{"layers":{"items":{"$ref":"#/components/schemas/SoilLayer"},"type":"array","title":"Layers","description":"The queried soil property layers"}},"type":"object","required":["layers"],"title":"SoilLayerList"},"SoilMappedUnits":{"type":"string","enum":["cg/cm³","mmol(c)/kg","cm³/dm³","g/kg","cg/kg","hg/m³","t/ha","pH*10","dg/kg"],"title":"SoilMappedUnits"},"SoilPropertiesCodes":{"type":"string","enum":["bdod","cec","cfvo","clay","nitrogen","ocd","ocs","phh2o","sand","silt","soc"],"title":"SoilPropertiesCodes"},"SoilPropertyJSON":{"properties":{"type":{"allOf":[{"$ref":"#/components/schemas/FeatureType"}],"description":"The feature type of the geojson-object"},"geometry":{"allOf":[{"$ref":"#/components/schemas/PointGeometry"}],"description":"The geometry of the queried location"},"properties":{"allOf":[{"$ref":"#/components/schemas/SoilLayerList"}],"description":"The queried soil property information"}},"type":"object","required":["type","geometry","properties"],"title":"SoilPropertyJSON"},"SoilPropertyUnit":{"properties":{"conversion_factor":{"allOf":[{"$ref":"#/components/schemas/SoilConversionFactors"}],"description":"The conversion factor","example":10},"mapped_units":{"allOf":[{"$ref":"#/components/schemas/SoilMappedUnits"}],"description":"The mapped unit of the soil property","example":"cm³/dm³"},"target_units":{"allOf":[{"$ref":"#/components/schemas/SoilTargetUnits"}],"description":"The target unit of the soil property","example":"m³/ha"},"uncertainty_unit":{"type":"string","title":"Uncertainty Unit","description":"The unit of the uncertainty","example":""}},"type":"object","required":["conversion_factor","mapped_units","target_units","uncertainty_unit"],"title":"SoilPropertyUnit"},"SoilPropertyValueTypes":{"type":"string","enum":["mean","Q0.05","Q0.5","Q0.95","uncertainty"],"title":"SoilPropertyValueTypes"},"SoilPropertyValues":{"properties":{"mean":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Mean","description":"The mean value of the soil property","example":50},"Q0.05":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Q0.05","description":"The 5th percentile of the soil property","example":40},"Q0.5":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Q0.5","description":"The 50th percentile of the soil property","example":50},"Q0.95":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Q0.95","description":"The 95th percentile of the soil property","example":60},"uncertainty":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Uncertainty","description":"The uncertainty of the soil property","example":5}},"type":"object","title":"SoilPropertyValues"},"SoilTargetUnits":{"type":"string","enum":["kg/dm³","cmol(c)/kg","cm³/100cm³","%","g/kg","hg/m³","kg/m²","pH"],"title":"SoilTargetUnits"},"SoilTypeInfo":{"properties":{"most_probable_soil_type":{"allOf":[{"$ref":"#/components/schemas/SoilTypes"}],"description":"The most probable soil type at the queried location","example":"Acrisols"},"probabilities":{"anyOf":[{"items":{"$ref":"#/components/schemas/SoilTypeProbability"},"type":"array"},{"type":"null"}],"title":"Probabilities","description":"The soil type probabilities"}},"type":"object","required":["most_probable_soil_type"],"title":"SoilTypeInfo"},"SoilTypeJSON":{"properties":{"type":{"allOf":[{"$ref":"#/components/schemas/FeatureType"}],"description":"The feature type of the geojson-object"},"geometry":{"allOf":[{"$ref":"#/components/schemas/PointGeometry"}],"description":"The geometry of the queried location"},"properties":{"allOf":[{"$ref":"#/components/schemas/SoilTypeInfo"}],"description":"The soil type information at the queried location"}},"type":"object","required":["type","geometry","properties"],"title":"SoilTypeJSON"},"SoilTypeProbability":{"properties":{"soil_type":{"allOf":[{"$ref":"#/components/schemas/SoilTypes"}],"description":"The soil type","example":"Acrisols"},"probability":{"type":"integer","title":"Probability","description":"The probability of the soil type as an integer between 0 and 100","example":70}},"type":"object","required":["soil_type","probability"],"title":"SoilTypeProbability"},"SoilTypeSummary":{"properties":{"soil_type":{"allOf":[{"$ref":"#/components/schemas/SoilTypes"}],"description":"The soil type","example":"Acrisols"},"count":{"type":"integer","title":"Count","description":"The number of occurrences of the soil type within the queried bounding box","example":70}},"type":"object","required":["soil_type","count"],"title":"SoilTypeSummary"},"SoilTypeSummaryInfo":{"properties":{"summaries":{"items":{"$ref":"#/components/schemas/SoilTypeSummary"},"type":"array","title":"Summaries","description":"The soil type summaries within the queried bounding box"}},"type":"object","required":["summaries"],"title":"SoilTypeSummaryInfo"},"SoilTypeSummaryJSON":{"properties":{"type":{"allOf":[{"$ref":"#/components/schemas/FeatureType"}],"description":"The feature type of this geojson-object"},"geometry":{"allOf":[{"$ref":"#/components/schemas/BoundingBoxGeometry"}],"description":"The geometry of the queried location"},"properties":{"allOf":[{"$ref":"#/components/schemas/SoilTypeSummaryInfo"}],"description":"The soil type summary information"}},"type":"object","required":["type","geometry","properties"],"title":"SoilTypeSummaryJSON"},"SoilTypes":{"type":"string","enum":["Acrisols","Albeluvisols","Alisols","Andosols","Arenosols","Calcisols","Cambisols","Chernozems","Cryosols","Durisols","Ferralsols","Fluvisols","Gleysols","Gypsisols","Histosols","Kastanozems","Leptosols","Lixisols","Luvisols","Nitisols","Phaeozems","Planosols","Plinthosols","Podzols","Regosols","Solonchaks","Solonetz","Stagnosols","Umbrisols","Vertisols","No information"],"title":"SoilTypes"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}